.max2lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.15em;
  max-height: 2.3em;
}
.ca63332-amazon-product {
  font-family: Roboto, sans-serif;
  height: 184px;
  overflow: hidden;
  outline: solid 1px lightgray;
  width: 786px;
}
.ca63332-amazon-product .image,
.ca63332-amazon-product .text {
  height: 184px;
  float: left;
}
.ca63332-amazon-product .image {
  background-image: url(img/product-image-bg.png);
  text-align: center;
  position: relative;
  width: 330px;
}
.ca63332-amazon-product .image img {
  max-height: 184px;
  position: relative;
  right: 1.5em;
}
.ca63332-amazon-product .image .price {
  background: #f55411;
  border-radius: 9999em;
  top: 16px;
  color: white;
  display: inline;
  font-size: 26px;
  font-weight: bold;
  height: 75px;
  left: 180px;
  line-height: 75px;
  min-width: 55px;
  padding: 0 10px;
  position: absolute;
}
.ca63332-amazon-product .text {
  background: white;
  padding: 0 10px 0 0;
  width: calc(446px);
}
.ca63332-amazon-product .text .title {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.15em;
  max-height: 2.3em;
}
.ca63332-amazon-product .text .title a {
  color: black;
  text-decoration: none;
}
.ca63332-amazon-product .text .amazon {
  color: #ffb036;
  font-size: 12px;
  font-weight: bold;
  margin-top: 12px;
  margin-left: 5px;
}
.ca63332-amazon-product .text .amazon img {
  vertical-align: middle;
}
.ca63332-amazon-product .text .buy a {
  background: #f7941c;
  border-radius: 9999em;
  color: white;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 0;
  margin-top: 12px;
  padding: 20px 24px;
  text-decoration: none;
}
@media only screen and (max-width: 1024px) and (min-width: 641px) {
  .ca63332-amazon-product {
    height: 216px;
    width: 598px;
  }
  .ca63332-amazon-product .image,
  .ca63332-amazon-product .text {
    height: 216px;
  }
  .ca63332-amazon-product .image {
    width: 250px;
  }
  .ca63332-amazon-product .image img {
    max-height: 216px;
    right: .5em;
  }
  .ca63332-amazon-product .image .price {
    height: 85px;
    left: 150px;
    line-height: 85px;
    min-width: 65px;
  }
  .ca63332-amazon-product .text {
    padding: 0 10 0 30px;
    width: calc(308px);
  }
  .ca63332-amazon-product .text .buy {
    font-size: 14px;
  }
  .ca63332-amazon-product .text .title {
    margin-top: 42px;
  }
}
@media only screen and (max-width: 640px) and (min-width: 1px) {
  .ca63332-amazon-product {
    height: 318px;
    width: 324px;
  }
  .ca63332-amazon-product .image {
    height: 156px;
    width: 324px;
  }
  .ca63332-amazon-product .image img {
    max-height: 156px;
    max-width: 100%;
    right: 0;
  }
  .ca63332-amazon-product .image .price {
    left: 60px;
    top: 45px;
  }
  .ca63332-amazon-product .text {
    height: 160px;
    padding: 0 10px;
    text-align: center;
    width: 304px;
  }
  .ca63332-amazon-product .text .title {
    margin-top: 10px;
  }
}
